header{
    display: flex;
    border: 1px solid black;
    text-align: center;
    justify-content: space-around;
}

#list-wrapper{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    margin-top: 2px;
    padding: 10px;
    min-height: 350px;
}

.list-content{
    border: 1px solid green;
    margin-right: 10px;
    max-width: 250px;
}

.add-new-part-of-card{
    display: flex;
    align-items: center;
    border: 1px solid blueviolet;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
}

.card-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    border-radius: 10px;
    padding: 7px;
    border: 0;
    outline: none;
    height: 30px;
    width: 30px;
}

.tasks{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
}

.create-new-list{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 0;
}

textarea{
    resize: none; 
    border-radius: 7px;
    outline: none;
    border: 1px solid black;
} 

.creating-tasks-window{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    border: 1px solid yellow;
    border-radius: 10px;
    padding: 5px;
}

.creating-tasks-window > div{
    display: flex;
    margin-top: 5px;
    width: 100%;
    /*border: 2px solid firebrick;*/
    justify-content: space-around;
}

.creating-tasks-window > div > button {
    border-radius: 10px;
    padding: 7px 10px;
    outline: none;
    border: 0;
}
